html, 
body {
    height: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.c-bg-dark {
    background-color: rgb(23, 23, 23);
}

.chat-message .timestamp {
    color: rgba(85, 85, 85, 0.779);
    min-width: 160px;
}

.chat-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.189);
}

#chat-box {
    overflow-y: auto;
    padding-bottom: 20px;
}

.message-owner {
    flex-direction: row-reverse !important;
    margin-left: auto;
    text-align: end;
}

.message-owner .message {
    margin-right: 20px;
}

.foreigner-message .message {
    margin-left: 20px;
}

.foreigner-message .timestamp {
    text-align: start;
}

.room-action-leave {
    color: rgba(255, 0, 0, 0.814);
}

.room-action-enter {
    color: rgba(0, 128, 0, 0.752)
}

.sender {
    border: 1px solid rgba(124, 124, 124, 0.287);
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}

.chat-message {
    align-items: center;
}

.message {
    word-break: break-all;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(74, 74, 109, 0.1);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(74, 74, 109, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(74, 74, 109, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(74, 74, 109, 0.9);
}
 